<footer class="footer text-white p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contatti</h5>
        <ul class="list-unstyled">
          <li>Email: infoMeteo.com</li>
          <li>Telefono: +39 123 456 789</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Seguici su fb</h5>
      </div>
      <div class="col-md-4">
        <h5>Link Utili</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home" class="text-white">Home</a></li>
          <li><a routerLink="/home" class="text-white">Favored cities</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="mt-3">
      <p>&copy; 2024 Brand. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
