<div class="box text-center">
  <div class="advisor-banner container">
    <div class="row">
      <div class="col-12 d-flex flex-row justify-content-around align-items-center">
        <div>
          <img class="img" src="https://cdn.pixabay.com/photo/2018/09/24/13/48/board-3699978_640.jpg">
        </div>
        <div class="head d-flex flex-column justify-content-center align-items-center">
          <h2>Com'è andata?</h2>
          <p>Facci sapere!</p>
          <div>
            <div class="form-group w-100">
              <label for="email">Email</label>
              <input type="email" class="form-control text-start" id="email" placeholder="Inserisci la tua email" required>
            </div>
          </div>
          <div class="form-group w-100">
            <label for="recensione">Recensione</label>
            <br>
            <textarea class="form-control text-start" id="recensione" placeholder="Inserisci la recensione" required></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



